#playerBar {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 5;
    backdrop-filter: blur(1rem);
    width: 100%;
    height: 60px;
}

.shadow {
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 50%);
}

#progress {
    width: 100%;
    position: relative;
}

#bufferedtime {
    width: 0;
    background-color: #ffffff60;
    height: 100%;
    position: absolute;
    transition: width 0.2s;
    pointer-events: none;
}

.slider input[type="range"] {
    appearance: none;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.slider input[type="range"]::-webkit-slider-thumb {
    visibility: hidden;
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    height: 24px;
    background-color: white;
    width: 0;
}

/* Firefox */
.slider input[type="range"]::-moz-range-thumb {
    visibility: hidden;
    appearance: none;
    height: 24px;
    background-color: white;
    width: 0;
}

.slider input[type="range"]:focus-visible {
    border: 2px solid white;
}

.slider {
    height: 8px;
    cursor: pointer;
    background-color: #ffffff20;
    display: inline-flex;
    position: relative;
}

.slider-slider {
    position: absolute;
    align-self: center;
    cursor: pointer;
}

.slider-inner {
    width: 0;
    background-color: white;

    position: absolute;
    height: 8px;
    align-self: center;
    pointer-events: none;
}

#render-dialog .slider {
    margin-left: 16px;
    margin-right: 16px;
}

.player-loading {
    position: absolute;
    background-color: #ffffff80;
    height: 100%;
    pointer-events: none;
    animation: linear-progress 2s ease-in-out infinite;
}



#volume {
    width: 9rem;
    height: 8px;
    margin-right: 5px;
}

#controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#controlsLeft,
#controlsMiddle,
#controlsRight {
    height: 50px;
    display: flex;
    width: 100%;
    align-items: center;
}

#controlsLeft {
    padding-left: 0;
}

#controlsMiddle {
    justify-content: center;
}

#controlsRight {
    justify-content: right;
}


#songCover {
    width: 48px;
    height: 48px;
    margin-right: 12px;
    object-fit: cover;
}

#songTitle {
    font-size: 14px;
    overflow-wrap: anywhere;
}

#songArtist {
    font-size: 12px;
}

.time {
    display: flex;
    font-size: 16px;
    margin-left: 8px;
}


.seperater {
    margin-right: 5px;
    margin-left: 5px;
}

.icon {
    font-family: icon;
    font-size: 26px;
    text-decoration: none;
    text-align: center;
    margin-left: 6px;
    margin-right: 6px;
    width: 38px;
    height: 38px;
    padding: 5px 6px;
    display: flex;
    user-select: none;
    justify-content: center;
    align-items: center;
}

.bottom-button {
    background-color: transparent;
    border: none;
    color: unset;
    cursor: pointer;
}

.bottom-button:hover {
    background-color: #ffffff40;
}

.round {
    border-radius: 100%;
}

.spinning {
    animation: spinning 20s linear;
    animation-iteration-count: infinite;
}

.animation-paused {
    animation-play-state: paused;
}

@font-face {
    font-family: icon;
    src: url('icon.woff2');
}


@media only screen and (max-width: 680px) {

    #playTimeSep,
    #durationDisplay {
        display: none;
    }

    #volume {
        width: 12vw;
    }
}

@media only screen and (max-width: 550px) {

    #volume,
    #volume-icon {
        display: none;
    }

    #controlsMiddle,
    #controlsRight {
        width: unset;
    }
}

@media only screen and (max-width: 512px) {
    #playMode {
        display: none;
    }
}

@media only screen and (max-width: 420px) {
    #time {
        display: none;
    }
}

@media only screen and (max-width: 380px) {
    #prev {
        display: none;
    }
}

@media only screen and (max-width: 300px) {
    #next {
        display: none;
    }

    input[type=number] {
        min-width: unset;
    }

    select {
        min-width: unset;
    }

    .right {
        max-width: 40vw;
    }
}

@keyframes spinning {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}