
body {
    background-color: black;
    color: white;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

*::selection {
    background-color: rgba(255, 255, 255, 0.75);
    color: black;
}

#bgCover {
    background-image: url('assets/default.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: repeat;
    background-position: center;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: scale(1.1);
    filter: blur(2rem) brightness(50%);
    transition: background-image 1.5s;
}

#content {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
    justify-content: center;
    width: 100%;
    overflow-x: hidden;
}

.album-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.album-container {
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin: 6px;
    margin-bottom: 16px;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    max-width: 200px;
}

.album-container img {
    width: 30vw;
    height: 30vw;
    margin-right: 4px;
    border-radius: 4px;
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
    transition: filter 100ms;
}

.album-container img:hover {
    filter: brightness(0.5);
}

.album-artist {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
}

.album-title-icon,
.album-artist-icon {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.backdrop {
    width: 100%;
    height: 40vh;
    /* filter: brightness(0.25); */
    background-position: center;
    background-size: cover;
    z-index: -1;
    display: flex;
    flex-direction: column-reverse;
}

.album-cover {
    width: 30vh;
    height: 30vh;
    left: 3vh;
    top: 5vh;
    border-radius: 4px;
    object-fit: cover;
    position: absolute;
}

.album-view-info {
    position: absolute;
    left: 36vh;
    top: 5vh;
}

.album-title-large {
    font-size: 26px;
}

.album-content {
    width: 50vw;
    padding-left: 4px;
    padding-right: 4px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.song-container {
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 4px;
    transition: background-color 100ms;
}

.song-container:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

.song-cover {
    width: 64px;
    height: 64px;
    border-radius: 4px;
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.song-info {
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bottom-song-info{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    overflow-y: auto;
    max-height: 100%;
    text-align: start;
}

.disc-tag {
    width: 100%;
    padding-bottom: 12px;
    padding-top: 12px;
    text-align: center;
    background-color: #ffffff20;
}

@media screen and (max-width: 650px) {
    .album-cover {
        display: none;
        /* width: 20vh;
        height: 20vh;
        top: 10vh; */
    }

    .album-view-info {
        position: unset;
        padding: 8px;
        /* left: 25vh;
        top: 10vh; */
    }

    .album-content {
        width: 100%;
    }
}

@media screen and (max-width: 300px) {
    #content {
        font-size: small;
    }

    .album-cover {
        width: 50vw;
        height: 50vw;
        top: 2vh;
        left: 25vw;
    }

    .album-view-info div {
        /* overflow: hidden;
text-overflow: ellipsis; */
        /* text-wrap: nowrap; */
        text-align: center;
    }

    .album-title-large {
        font-size: 16px;
    }
}

@keyframes fadeIn {
    from {
        transform: translateX(16px);
        opacity: 0;
        visibility: hidden;
    }

    to {
        opacity: 1;
        visibility: visible;
    }
}